@import "bootstrap";

.div9{
  margin-left: 137px;
}

.div10{
  margin-left: 150px;
}

tr{
  position: relative;
}

body{
  margin-top: 40px;
  background-color: #FFF;
  color: #122549
}

.custom-body {
  margin-top: -30px;
}

.logo{
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.btn-go {
  padding: 10px 70px;
  border: none;
  color: #FFF;
  background-color: #333;
}


.navbar-inverse .navbar-inner {
  background: none;
  background-color: #EFEFEF;
  color: #3F3F3F;
  h3 {
    line-height: 1;
    margin: 7px 0;
  }

  li {
    a {
      text-shadow: none;
      color: #3F3F3F;
      margin: 10px 15px 0px 15px;
      padding: 0;
    }

    form{
      padding: 4px 0 0 0;
      margin: 0;
    }

    .btn{
      margin: 0;
    }
  }
  .navbar-text a{
    text-decoration: none;
  }
}

.navbar-inner a{
  color: #555;

  &:hover {
    text-decoration: underline;
  }
}

.time-block{
  line-height: 60px;
  color: #FFF;
  font-weight: bold;
  padding-left: 10px;  
  text-shadow: 1px 1px 1px #333;
}

.time-block-divider{
  width: 5px;
  line-height: 60px;
}

.input-larger {
  width: 350px !important;
  height: 30px  !important;
}
